
    @import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900");

    .login-page {
        width: 100%;
        min-height: 1000px;
        padding: 8% 0 0;
        margin: auto;
        text-align: center;
    }

    .logo {
        margin: 15px auto 5px;
        background-color: rgba(0, 0, 0, 0.171);
        max-width: 460px;
        border-radius: 25px;
    }

    .logo-image {
        max-width: 400px;
        padding: 20px 0px 0px 0px;
    }

    .login-subheader-container {
        max-width: 389px;
        margin: auto;
        padding-bottom: 20px;
        padding-left: 3px;
    }

    .login-subheader {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 1em;
        letter-spacing: 6px;
        color: #686868;
        text-align: center;
        vertical-align: -webkit-baseline-middle;
        background-color: white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        padding: 2px;
        mix-blend-mode: lighten;
        
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 460px;
        margin: 15px auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 25px;
    }

    .form input {
        font-family: "Montserrat", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 250px;
  letter-spacing: 1px;
  border: 1px solid black;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02), 0 6px 6px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
    }

    .form button {
        font-family: Montserrat, sans-serif;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
        width: 100%;
        border: 1px solid black;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
    }

    .form button:hover,
    .form button:active,
    .form button:focus {
        background: rgb(46, 46, 46);
        color: white;
        cursor: pointer;
    }

    .form a:hover {
        color: rgb(197, 46, 46);
    }

    .message {
        margin: 20px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

    .message a {
        color: #1A2930;
        text-decoration: none;
    }

 

    .form .reset-form {
        display: none;
    }

    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }

    .container:before,
    .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

    .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
    }

    .container .info span {
        color: #4d4d4d;
        font-size: 12px;
    }

    .container .info span a {
        color: #000000;
        text-decoration: none;
    }

    .container .info span .fa {
        color: rgb(241, 146, 146);
    }

    body {
        font-family: "Montserrat", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        max-height: 700px;
    }

    #background {
        background-image: url("/Glance/img/bulletproof-office2.jpg");
        background-size: cover;
    }




