/* Inputs with the class .client-name-input now as appear as normal text  */

/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700");

/* Set entire page to Lato font */

* {
  font-family: Lato;
}

.client-name-input {
  border: none;
}

#consultantstablebody > table,
tr,
td,
th,
tbody {
  padding: 10px !important;
}

.consultant-name-input {
  background: #212529;
  border: none;
}

body {
  background-color: #f9f9f9;
  font-family: Lato, Arial;
}

#consultantsdiv {
  margin-top: 40px;
}

/*CSS for context menu adapted from https://stackoverflow.com/questions/4495626/making-custom-right-click-context-menus-for-my-web-app 12/07/2018 */

/* CSS3 */

/* Custom right and left click dropdown menu */

.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #ccc;
  white-space: nowrap;
  font-family: sans-serif;
  background: #fff;
  color: #212529;
  border-radius: 5px;
  padding: 0;
}

/* Each of the items in the list */

.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  transition: all 0.3s ease;
  user-select: none;
  font-size: 13px;
  letter-spacing: 1px;
}

.custom-menu li:hover {
  background-color: #212529;
  color: white;
}

/* Consultant row elements */

.allocation-col {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  width: 200px;
  max-width: 200px;
  padding: 0px !important;
}

.allocation-col:hover {
  cursor: pointer;
}

/* Client table */

.add-client-table {
  font-family: Lato;
  border-collapse: separate;
  border-spacing: 10px;
}

.client-table th {
  font-size: 15px;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
}

.client-row-format {
  height: 60px;
  font-size: 14px;
}

/* Consultant name, position/role and draggable icon */

.draggable-icon {
  display: inline-block;
  width: 10%;
  text-align: center;
  padding-right: 10px;
}

.draggable-icon:hover {
  cursor: pointer;
}

.draggable-icon,
a {
  color: rgb(199, 199, 199);
}

.draggable-icon,
a:hover {
  color: #ffffff;
}

.consultant-info-format {
  display: inline-block;
  width: 90%;
  padding: 0.75rem;
}

.rolediv {
  font-style: italic;
  font-family: Lato, Arial;
  font-weight: lighter;
  vertical-align: top;
  font-size: 15px;
}

.consultant-header {
  font-family: Lato, Arial;
  vertical-align: -webkit-baseline-middle;
  max-width: 300px;
  width: 300px;
  font-size: 17px;
  background-color: #212529;
  color: white;
  padding: 0px !important;
}

.consultant-header input {
  background: #212529;
  border: none;
  max-width: 170px;
  width: 170px;
  vertical-align: -webkit-baseline-middle;
  font-size: 16px;
}

/* Mobile view optimisation for consultant header and role */

@media only screen and (max-width: 426px) {
  .rolediv {
    font-size: 10px;
  }
  .consultant-header {
    width: 50px;
    max-width: 50px;
    font-size: 10px;
  }

  .consultant-header input {
    width: 50px;
    max-width: 50px;
    font-size: 20px;
  }
}

/* Mobile view optimisation for individual client boxes */

@media only screen and (max-width: 426px) {
  .allocation-col {
    font-size: 10px;
    width: 20px;
    height: inherit;
    padding: 0px !important;
  }

  td,
  th {
    width: 20px;
    height: 20px;
  }
}

.table thead > tr.dates.dates > th {
  font-family: Lato;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
  border: none;
  letter-spacing: 1px;
}

.table thead > tr.dates > th.monthyear {
  font-size: 50px;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 0;
}

.table thead > tr.date-subheading.date-subheading > th {
  font-family: Lato;
  font-size: 13px;
  font-weight: lighter;
  text-align: center;
  line-height: 5px;
  border: none;
}

#displaymonth {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: left;
  float: left;
}

#displayyear {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 5px;
  float: left;
}

.clear-button-container {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.clear-all-btn {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 250px;
  letter-spacing: 1px;
  border: 1px solid black;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

@media only screen and (max-width: 426px) {
  .clear-all-btn {
    font-family: Lato, sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    border: 1px solid black;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .clear-button-container {
    text-align: center;
    margin-bottom: 20px;
  }
}

.clear-all-btn:hover {
  background-color: rgb(197, 46, 46);
  color: white;
  cursor: pointer;
  border: 1px solid rgb(197, 46, 46);
}

/* Remove buttons */

.clear-consultant-row {
  width: 60px;
  height: 72px;
  line-height: 72px !important;
  vertical-align: -webkit-baseline-middle !important;
  text-align: center;
  padding: auto;
}

.clear-consultant-container {
  width: 100%;
  height: 100%;
  padding: 10%;
  text-align: left;
  vertical-align: middle;
}

.clear-row-btn {
  color: #212529;
}

.clear-row-btn:hover {
  color: rgb(197, 46, 46);
  cursor: pointer;
}

/* Custom Navigation Bar */
#navigationBar {
  border-bottom: 1px solid rgb(231, 231, 231);
  height: 50px;
}
nav {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}
nav ul li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: rgb(109, 109, 109);
  font-family: Lato;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  height: 100%;
  text-align: center;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555;
}

nav.shift ul li a {
  position: relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #212529;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/* Adjusts the settings icon to the center of the nav bar */

.settings-icon-top {
  text-align: right;
  vertical-align: -webkit-baseline-middle;
  line-height: 50px;
  margin-top: 5px;
}

#usermenubutton {
  -webkit-transition: 0.8s ease;
}

#usermenubutton:hover {
  cursor: pointer;
  transform: rotate(180deg);
  -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#linksAndLogo {
  text-align: center;
}

#managePage tr {
  font-size: 110%;
}
.logo {
  width: auto;
  height: 35px;
  margin: 5px;
}

#glance-logo {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 30px;
  height: 100%;
  width: 13%;
  letter-spacing: 15px;
  padding-left: 5px;
  margin-right: auto;
  color: #f9f9f9;
  background-color: #212529;
  text-align: center;
  line-height: 50px;
  vertical-align: -webkit-baseline-middle;
  -webkit-transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#glance-logo:hover {
  width: 50%;
  letter-spacing: 0px;
  text-align: left;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: rgb(197, 46, 46);
  color: white;
}

@media only screen and (max-width: 580px) {
  #top-btn-group,
  .settings-icon-top {
    display: none;
  }

  #top-logo-div {
    justify-content: center;
    width: inherit;
  }

  #navigationBar {
    text-align: center;
    justify-content: center;
  }
}

/*Added css to colour elements */

[data-office="1"] {
  background-color: white;
}

[data-office="3"] {
  background: repeating-linear-gradient(
    45deg,
    #e2e2e2,
    #e2e2e2 10px,
    #b3b2b2 10px,
    #b3b2b2 20px
  );
}
/* ********* CLIENT COLOURS Begin ********** */
[data-colour="0"] > .color-col,
[data-colour="0"] > .colour-div {
  background-color: white;
  /* DEFAULT */
}
[data-colour="1"] > .color-col,
li[data-colour="1"],
[data-colour="1"] > .colour-div {
  background-color: #9bcb9e;
  /* GREEN */
}
[data-colour="2"] > .color-col,
li[data-colour="2"],
[data-colour="2"] > .colour-div {
  background-color: #e5c691;
  /* ORANGE */
}
[data-colour="3"] > .color-col,
li[data-colour="3"],
[data-colour="3"] > .colour-div {
  background-color: #9abecb;
  /* BLUE */
}
[data-colour="4"] > .color-col,
li[data-colour="4"],
[data-colour="4"] > .colour-div {
  background-color: #e4acac;
  /* RED */
}
[data-colour="5"] > .color-col,
li[data-colour="5"],
[data-colour="5"] > .colour-div {
  background-color: #bb9bcb;
  /* PURPLE */
}
[data-colour="6"] > .color-col,
li[data-colour="6"],
[data-colour="6"] > .colour-div {
  background-color: #f3f2bf; /* YELLOW */
}
[data-colour="7"] > .color-col,
li[data-colour="7"],
[data-colour="7"] > .colour-div {
  background-color: #cecece; /* GRAY */
}
[data-colour="8"] > .color-col,
li[data-colour="8"],
[data-colour="8"] > .colour-div {
  background-color: #979696; /* DARK GRAY */
}
/* ********* CLIENT CALENDAR COLOURS End ********** */
input {
  color: inherit;
}
.highlight-day {
  height: 30px; /* change this and the width
  for the size of your initial circle */
  width: 20px;
  padding: 10px;
  border-style: solid;
  border-color: #9a9da0;
  border-width: thin;
}
/* Week view layout */
#clientstable {
  width: 100%;
  margin: auto;
}
/* Month view layout */
.table-padding {
  padding-left: 15px;
  padding-top: 40px;
  padding-right: 15px;
}
#consultanttable {
  background: white;
  width: 100%;
  margin-bottom: 30px;
}
#consultanttable th {
  font-family: Lato;
  font-size: 14px;
  padding: 20px;
  text-align: left;
  border: 0;
  margin: 0;
  border: none;
  letter-spacing: 1px;
}
#consultanttablebody td {
  vertical-align: middle !important;
  padding: 0px;
}
#clienttable {
  width: 30%;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  #clienttable {
    width: 80%;
  }
}
@media only screen and (max-width: 580px) {
  #clienttable {
    width: 100%;
  }
}
#clienttable th,
td {
  vertical-align: middle;
  padding: 0px;
}
/* Manage page layout */
.manage-table {
  width: 100%;
  padding-left: 50px;
}
.manage-table th {
  font-family: Lato;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
  letter-spacing: 1px;
}
.manage-table td {
  border: 1px solid black;
}
.manage-table input {
  padding: 5px;
  border-radius: 2px;
  width: 100%;
}
.add-consultant-table {
  width: 95%;
  background-color: #212529;
  margin-bottom: 40px;
  margin-top: 30px;
}
.add-consultant-table input {
  width: 100%;
  padding: 5px;
  border-radius: 2px;
}
.add-consultant-table i {
  color: white;
}
.add-consultant-table i:hover {
  cursor: pointer;
  color: rgb(29, 187, 55);
}
.custom-dark-bg {
  background-color: #212529 !important;
  color: white;
}
.custom-dark-bg input {
  background-color: #212529 !important;
  color: white;
}
.custom-dark-bg input:hover,
input:focus {
  background-color: rgb(255, 242, 242) !important;
  color: rgb(0, 0, 0);
}
.force-height {
  height: 0.01px;
}
.colour-div {
  display: inline-block;
  width: 10%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.client-div {
  display: inline-block;
  width: 70%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.client-span {
  position: absolute;
  top: 35%;
  left: 35%;
}
.location-div {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
}
.home-icon {
  position: absolute;
  top: 4px;
  right: 3px;
  color: rgb(187, 187, 187);
}
.away-icon {
  position: absolute;
  bottom: 8px;
  right: 1px;
  color: rgb(187, 187, 187);
}
table td {
  padding: 0px;
}
.custom-dark-bg input:hover {
  background-color: rgb(255, 226, 231);
  color: black;
}
.red-text {
  color: rgb(197, 46, 46) !important;
}
.transparent-bg {
  background-color: #434d57;
}
#resetPasswordDiv {
  text-align: center;
}
#resetPasswordForm > input {
  margin: 30px;
}

.last-updated {
  width: inherit;
  height: 20px;
  font-size: 8px;
  color: rgb(206, 206, 206);
}
