/* Inputs with the class .client-name-input now as appear as normal text  */

/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Lato");

.client-name-input {
  background: rgba(0, 0, 0, 0);
  border: none;
}

body {
  background-color: #f9f9f9;
  font-family: Lato, Arial;
}

.row-space {
  padding-right: 10px !important;
  /*border-right: 1px solid lightgray !important;*/
}



/*CSS for context menu adapted from https://stackoverflow.com/questions/4495626/making-custom-right-click-context-menus-for-my-web-app 12/07/2018 */

/* CSS3 */

/* The whole thing */

.dropdown {
  background-color: transparent;
  width: 100% !important;
  height: 60px !important;
  text-align: center;
  border: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  border-radius: 0px;
  text-indent: 1px;
  text-overflow: "";
  text-align-last: center;
  padding: 5px;
  margin: 5px;
  font-size: 13px;
  font-weight: 700;
  font-family: Lato;
}

select option {
  background-color: white;
  color: black;
}

/* Mobile view optimisation for select element */

@media only screen and (max-width: 426px) {
  select {
    font-size: 8px;
    font-weight: 100;
  }
}

.mr-auto {
  margin-right: auto !important;
}

td {
  padding: 0 !important;
  margin: 0 !important;
}

.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #ccc;
  white-space: nowrap;
  font-family: sans-serif;
  background: #fff;
  color: #333;
  border-radius: 5px;
  padding: 0;
}

/* Each of the items in the list */

.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  transition: all 0.3s ease;
  user-select: none;
}

.custom-menu li:hover {
  background-color: rgb(225, 233, 238);
}

/* Client table */

.add-client-table {
  font-family: Lato;
  border-collapse: separate;
  border-spacing: 10px;
}

.client-table {
  font-family: Lato;
}

.client-table th {
  font-size: 15px;
  text-align: left;
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.client-row-format {
  height: 60px;
  font-size: 14px;
}

/* Consultant table key */

.on-site-colour {
  background-color: #a9b7c0;
}

.office-colour {
  /*background-color: #C7D8C6; */
  background-color: #efd9c1;
}

.consultanttablekey {
  display: flex;
  justify-content: flex-end;
  padding: 8px 12px;
}

.key-table-heading {
  padding: 5px;
  white-space: nowrap;
}

.dot-position {
  text-align: center;
}

/* Consultant name, position/role and draggable icon */

.draggable-icon {
  display: inline-block;
  width: 10%;
  text-align: center;
}

.draggable-icon, a{
  color: rgb(199, 199, 199);
}

.draggable-icon, a:hover{
  color: #a9b7c0;
}

.consultant-info-format {
  display: inline-block;
  width: 90%;
}

.rolediv {
  font-style: italic;
  font-family: Lato, Arial;
  font-weight: lighter;
  vertical-align: top;
  font-size: 15px;
}

.consultant-header {
  font-family: Lato, Arial;
  vertical-align: -webkit-baseline-middle;
  width: 180px;
  font-size: 20px;
}

.consultant-header input {
  background: rgba(0, 0, 0, 0);
  border: none;
  width: 180px;
  vertical-align: -webkit-baseline-middle;
  font-size: 16px;
}
.consultant-header td {
  vertical-align: -webkit-baseline-middle;
}

/* Mobile view optimisation for consultant header and role */

@media only screen and (max-width: 426px) {
  .rolediv {
      font-size: 10px;
  }
  .consultant-header {
      max-width: 80px;
      font-size: 20px;
  }
  .consultant-name-input {
      font-size: 10px;
      max-width: 80px;
  }
}

.table thead > tr.dates.dates > th {
  font-family: Lato;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 40px;
  margin: 0;
  border: none;
}

.table tbody > tr.client-abbr.client-abbr > td {
  border-right: 1px solid red;
}

.table thead > tr.date-subheading.date-subheading > th {
  font-family: Lato;
  font-size: 13px;
  font-weight: lighter;
  text-align: center;
  line-height: 5px;
  border: none;
}

#displaymonth {
  font-family: Lato;
  font-size: 18px;
  text-align: left;
  text-transform: capitalize;
}

.add-consultant-table {
  font-family: Lato;
  border-collapse: separate;
  border-spacing: 10px;
}

.clear-table {
  font-family: Lato;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

.input-row {
  width: 150px;
  border-collapse: separate;
  border-spacing: 5px;
}

.button-row {
  width: 60px;
  border-collapse: separate;
  border-spacing: 5px;
}

/* Remove buttons */

.remove-add-btn {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.remove-client-btn {
  width: 20px;
  height: 20px;
}

.remove-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.select-element-hover {
  background-color: rgb(240, 240, 240) !important;
  color: black !important;
}

/* CUSTOM NAVIGATION BAR CSS ============================*/
#navigationBar {
  padding-top: 15px;;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.navigation-links {
  color: #333;
  font-weight: bold;
  padding: 1%;
}

.navigation-links:hover{
  color: #a9b7c0;
  text-decoration: none;
}

#settingsIcon {
  text-align: right;
}

#linksAndLogo {
  text-align: center;
}

.logo {
  width: auto;
  height: 35px;
}

@media only screen and (max-width: 426px) {
  .navigation-links {
    color: #333;
    font-weight: bold;
    padding: 1%;
    font-size: 10px;
  }
  .logo {
    width: auto;
    height: 20px;
  }
}