 /* Inputs with the class .client-name-input now as appear as normal text  */

 .client-name-input {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.consultant-name-input {
    background: rgba(0, 0, 0, 0);
    border: none;
    max-width: 130px;
}

.rolediv {
    font-style: italic;
}

/*CSS for context menu adapted from https://stackoverflow.com/questions/4495626/making-custom-right-click-context-menus-for-my-web-app 12/07/2018 */

/* CSS3 */

/* The whole thing */



.clientdropdown {
    background-color: transparent;
    width: 100%!important;
    height: 50px!important;
    text-align: center;
    -webkit-text-size-adjust: inherit;
    border: none;
}

.row-space {
    padding-right: 10px!important;

}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    border-radius: 0px;
    text-indent: 1px;
    text-overflow: '';
    text-align-last:center;
    padding: 5px;
    margin: 5px;
}

.mr-auto {
    margin-right: auto !important;
}

.logo {
  display: block;
  max-height:30px;
  width: auto;
  height: auto;
}

td{
    padding:0!important;
    margin:0!important;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

body {
    background-color: #f9f9f9;
}

.custom-menu li:hover {
    background-color: rgb(255, 229, 145);
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.on-site-colour {
    background-color: #1A2930;
}

.office-colour {
    background-color: #F7CE3E;
}

#consultanttablekey {
    text-align: right;
    padding: 8px 12px;
}

.remove-consultant-btn {
    width: 20px;
    height: 20px;
}

.remove-client-btn {
    width: 20px;
    height: 20px;
}

.remove-row{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* Remove padding from the fluid container */

 select:hover { 
    background-color: rgba(233, 236, 27, 0.469);
}