 /* Inputs with the class .client-name-input now as appear as normal text  */

 @import url("https://fonts.googleapis.com/css?family=Lato");

 .client-name-input {
    background: rgba(0, 0, 0, 0);
    border: none;
}



body {
    background-color: #f9f9f9;
    font-family: Lato, Arial;
}

.row-space {
    padding-right: 10px!important;
    /*border-right: 1px solid lightgray !important;*/ 
}



/*CSS for context menu adapted from https://stackoverflow.com/questions/4495626/making-custom-right-click-context-menus-for-my-web-app 12/07/2018 */

/* CSS3 */

/* The whole thing */



.dropdown {
    background-color: transparent;
    width: 100%!important;
    height: 60px!important;
    text-align: center;
    border: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    border-radius: 0px;
    text-indent: 1px;
    text-overflow: '';
    text-align-last: center;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
    font-weight: 700;
    font-family: Lato;
}

select option {
    background-color: white;
    color: black;
}

.mr-auto {
    margin-right: auto !important;
}

.logo {
  display: block;
  max-height:30px;
  width: auto;
  height: auto;
}

td{
    padding:0!important;
    margin:0!important;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: rgb(255, 229, 145);
}

/* Client table */

.add-client-table {
    font-family: Lato;
    border-collapse: separate;
    border-spacing: 10px;
}

.client-table {
    font-family: Lato;
}

.client-table th{
    font-size: 15px;
    text-align: left;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.client-row-format {
    height: 60px;
    font-size: 14px;
}

/* Consultant table key */

.on-site-colour {
    background-color: #1A2930;
}

.office-colour {
    background-color: #F7CE3E;
}

.consultanttablekey {
    display: flex;
    justify-content: flex-end;
    padding: 8px 12px;
}

.key-table-heading {
    padding: 5px;
    white-space: nowrap;
}

.dot-position {
    text-align: center;
}



.rolediv {
    font-style: italic;
    font-family: Lato, Arial;
    font-weight: lighter;
    vertical-align: top;
}

.consultant-header {
    font-size: 14px;
    font-family: Lato, Arial;
    vertical-align: -webkit-baseline-middle
}

.consultant-header input {
    background: rgba(0, 0, 0, 0);
    border: none;
    max-width: 120px;
    vertical-align: -webkit-baseline-middle;
}
.consultant-header td {
    vertical-align: -webkit-baseline-middle;
}

.table thead>tr.dates.dates>th {
    font-family: Lato;
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    border: none;
}

.table tbody>tr.client-abbr.client-abbr>td {
    border-right: 1px solid red;
}

.table thead>tr.date-subheading.date-subheading>th {
    font-family: Lato;
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
    line-height: 5px;
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    padding-left: 3px !important;
    padding-right: 0 !important;
    border: none;

}
.add-consultant-table {
    font-family: Lato;
    border-collapse: separate;
    border-spacing: 10px;
}

.clear-table {
    font-family: Lato;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}

.input-row {
    width: 150px;
    border-collapse: separate;
    border-spacing: 5px;
}

.button-row {
    width: 60px;
    border-collapse: separate;
    border-spacing: 5px;
}

/* Remove buttons */

.remove-add-btn {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.remove-client-btn {
    width: 20px;
    height: 20px;
}

.remove-row{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

select:hover { 
    background-color: lightcyan;
}